@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,400i,700,700i);
@import url(/css/fonts.css);

@font-face {
  font-family: "Comic Mono";
  font-weight: "normal";
  src: url(/fonts/ComicMono.ttf);
}

:root {
  --main-family: "Atkinson Hyperlegible", sans-serif;
  --code-family: "Victor Mono", monospace;
}

html {
  background: var(--color-bg);
  font-family: var(--main-family);
  min-height: 100%;
}

code {
  font-family: var(--code-family)
}