{{ define "main" }}
<article>
  <header class="pb-4">
    <h2 class="text-2xl font-bold md:text-3xl xl:text-4xl">{{ .Title }}</h2>
    <time class="text-sm italic" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
  </header>
  <section class="post-content">{{ .Content }}</section>
</article>

<script
  src="https://utteranc.es/client.js"
  repo="ajaxbits/ajaxbits-site"
  issue-term="pathname"
  label="blog-comment"
  theme="preferred-color-scheme"
  crossorigin="anonymous"
  async></script>
{{ end }}
