{{ define "main" }}
<article
  class="prose mx-auto prose-code:prose-base dark:prose-invert prose-headings:first-of-type:mb-0 prose-headings:first-of-type:mt-2 prose-code:font-mono">
  <header class="mb-4 md:mt-6">
    <h1 class="">{{ .Title }}</h1>
    <time class="text-sm italic" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
  </header>

  <section>{{ .Content }}</section>

  <hr class="mx-20" />

  <section>
    <script
      src="https://giscus.app/client.js"
      data-repo="ajaxbits/ajaxbits-site"
      data-repo-id="R_kgDOLXjnMA"
      data-category="Blog Comments"
      data-category-id="DIC_kwDOLXjnMM4CdibH"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async></script>
  </section>
</article>
{{ end }}
