<header>
  <div class="flex justify-between pb-4 align-middle">
    <div class="flex flex-grow flex-col justify-around border-4 border-r-2 px-6">
      <a href="/" class="spacing font-semibold">ajaxbits</a>
    </div>
    <img
      class="hidden h-16 w-full border-4 border-x-2 object-cover md:block"
      style="object-position: 0% 40%"
      src="/images/kneel.jpeg"
      alt="" />
    <nav class="flex flex-grow flex-col justify-around border-4 border-l-2 px-6">
      <a href="/">home</a>
    </nav>
  </div>
</header>
