<header class="mb-4 grid grid-cols-2 md:grid-cols-header">
  <a href="/" class="order-2 flex items-center justify-center border-4 border-r-2 border-t-2 px-6 font-semibold md:order-1 md:border-t-4">
    ajax
  </a>
  <img
    class="order-1 col-span-2 h-16 w-full border-4 border-b-2 object-cover md:order-2 md:col-span-1 md:border-b-4"
    style="object-position: 0% 40%"
    src="/images/kneel.jpg"
    alt="" />
  <nav class="order-3 flex flex-grow justify-around border-4 border-l-2 border-t-2 px-6 md:flex-col md:border-t-4">
    <a href="/" class="m-auto underline underline-offset-2">blog</a>
    <a href="/about" class="m-auto underline underline-offset-2">about</a>
  </nav>
</header>
